* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

.container {
  background: rgb(158, 154, 154);
  width: 90vw;
  max-width: 550px;
  margin: 1rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.course-input-form {
  /* background-color: blue; */
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.course-code-input, 
.unit-input,
.grade-input {
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.course-code-input:focus, 
.unit-input:focus,
.grade-input:focus {
  padding: 0.3rem;
  border-radius: 10px;
  outline: 1px solid blue;
}

.semester-dropdown {
  font-size: 0.89rem;
  border: 1px solid gray;
  outline: none;
  padding: 0.2rem 0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.action-elements button {
  font-size: 0.9rem;
  padding: 0.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-button {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(13, 119, 13);
  cursor: pointer;
}

.course-display-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course {
  display: flex;
  gap: 20px;
}

.hidden {
  display: none;
}

.prev-cgpa-submit-button {
  cursor: pointer;
}