* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: rgb(236, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

h2 {
  margin-bottom: 24px;
  font-size: 1.5rem;
}

.level-setup,
.container,
.course-container {
  background-color: white;
  margin-bottom: 24px;
  padding: 2rem 1.4rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  width: 90vw;
  max-width: 700px;
}

/* .form-group {

} */

.form-group label {
  display: block;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group select {
  padding: 12px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

.previous-cgpa-input {
  padding: 12px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  width: 60%;
}

.cgpa-submit-button {
  border: 1px solid rgb(216, 216, 216);;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: white;
  padding: 7px;
  margin-left: 8px;
  cursor: pointer;
}

.course-input-form {
  width: 100%;
  margin-bottom: 18px;
  display: grid; 
  grid-template-columns: 2.5fr 1.5fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
}

.course-input-form input, 
.course-input-form select {
  padding: 12px;
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;

}

.semester-dropdown {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  margin-bottom: 28px;
}

.add-button {
  color: rgb(22, 141, 22);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 22px;
  cursor: pointer;
}

.gpa-calculate-button, 
#cgpa-button {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgb(59, 124, 221);
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 14px;
  cursor: pointer;
  letter-spacing: 1px;
}

#cgpa-button {
  background-color: rgb(34, 33, 33);
}

.semester-toggle {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  gap: 3px;
  padding: 4px 0;
  margin-bottom: 30px;
}

.semester-toggle div {
  width: 100%;
  /* text-align: center; */
}

.semester-toggle div:hover:after {
  display: block;
  background-color: rgb(59, 124, 221);
  content: "";
  height: 4px;
}

.course-display-container {
  display: grid;
  gap: 14px;
}

.course {
  display: grid;
  grid-template-columns: 20px 100px 50px 50px 1fr;
  /* grid-template-columns: repeat(5, 1fr); */
  white-space: nowrap;
  gap: 12px;
  align-items: center;
}

.course div {
  width: 100%;
}

.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}